[Unit]
Description=Supervisor for desk-related programms
After=syslog.target

[Service]
Type=simple
PIDFile=/var/run/desk-supervisor.pid
ExecStart=/usr/local/bin/node /opt/desk/server/proxy/supervisor.js
Restart=always

[Install]
WantedBy=multi-user.target
