{
	"users" : [
		"user1",
		"user2"
	],

	"basePort" : 8000,

	"defaultRoutes" : {
		"hostname1" : "url1",
		"hostname2" : "url2"
	},

	"httpAllowed : {
		"hostname2" : true
	},

	"otherRoutes" : {
		"foo.address/path" : "url3"
	}
}
